
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shered style */
.mary-r{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 19px 35px;
    color: white;
    font-weight:bold ;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-size: 15px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
} 
.text-center{
    text-align: center;
}
.bolder{
     font-size: 35px;
    font-weight: bold;
    color: #181818;
}
main section{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* header */
.header{
  background-image: url('../images/developer.png'),url('../images/header_bg.png');
  background-position: top left, bottom right;
  background-repeat: no-repeat;
 
}

   
/* navigation style */
.dark-2{
    color: #474747;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px   ;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style:none;
    margin-right: 51px;
}
nav li a {
    text-decoration:none ;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* bannner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 35px 0 200px;
     background-color: transparent;
}
.banner-content{
    max-width: 580px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-picture{
    width: 584px;
    height: 676px;
}
/* about */
.about{
    border-radius:10px ;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    border: 2px solid black;
} 
.iteam-description{
    font-weight: 600;
}
.about-iteams{
    display: flex;
    justify-content: space-around;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
/* Skills iteam */
.skill-container{
    display: flex;
    gap: 20px;
}
.skills{
    width: 267px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.skills{
    padding: 30px 33px 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}
/* resume style start */
.resume-container{
    display: flex;
    gap: 130px;
    margin-bottom: 0;
}
.resume-frist-header{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.experience{
    width: 511px;
    height: 220px;
}
.resume-header{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
    color: rgba(71, 71, 71, 1);
}
.resume-title{
    font-size: 20px;
    font-weight: 700;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 0;
}
.resume-para{
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
}
.resume-cv, .submit{
    text-align: center;
    margin-top: 10px;
}
/* footer style */
.footer-container{
    display: flex;
    gap: 117px;
    padding: 130px 230px;
    margin-top: 130px;
}
.input-field{
    width: 461px;
    height: 68px;
    border-radius: 5px;
    color: (255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 22px;
}
.input-text-area{
    width: 461px;
    height: 180px;  
}   